.app {
  background: #263238;
  font-family: 'Work Sans', sans-serif;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.heading { 
  font-size: 30px;
  color: white;
  padding: 5px;
  width: 100%;
}
.todo-list {
  background: #263238;
  border-radius: 3px;
  width: auto;
  padding: 5px;
}
.todo {
  font-size: 18px;
  background: #26A69A;
  color: white;
  height: 48px;
  margin-bottom: 4px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  height: auto;
}
.input {
  height: 48px;
  border-radius: 5px;
  margin-bottom: 3px;
  width: 100%;
}
.comp-rm-btn {
  border-radius: 5px;
}
